#body1{
    width: 880px;
    height: auto;
    margin: 0px auto;
    background: linear-gradient(to top, #808080 20%, #7D8184 80%);
    border: 0.1px solid #FFFFFF;
    box-shadow:-3px -3px 1px #808080;
    position: absolute;
}

#first-block{
    height: 60px;
    margin: 0px 5px 0px 6px;
    background-color: rgb(68,81,98);
}

.name{
    border-top-width: 0px;
    padding-top: 25px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
}

#second-block{
    height: 540px;
    margin: 0px 5px 5px 6px;
    background-color: #FFFFFF;
}

#left-block{
    width: 40%;
    height: 100%;
    background: #494949;
    background: linear-gradient(to right, #444444 1%, #828282 99%);
    float:left;
}

#my-photo{
    margin-left: 100px;
    margin-top: 15px;
}

#avatar{
    border-radius: 45px;
    border: 2px solid #7D8184;
    box-shadow: 0 0 10px #7D8184;
    width: 123px;
    height: 123px;
}

#name1{
    color: #FFFFFF;
    border-top-width: 0px;
    padding-top: 0px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    letter-spacing: 0.1em;
}

#surname{
    height: 20px;
    color: #FFFFFF;
    border-top-width: 0px;
    padding-top: 0px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    letter-spacing: 0.1em;
}

#line{
     width: 90%;
     height: 2px;
     padding-top: 0px;
     border:none;
     background-color: #FFF600;
     color: #FFF600;
     margin-left: 0px auto;
}

#text{
    height: 20px;
    color: #FFFFFF;
    border-top-width: 0px;
    padding-top: 0px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    letter-spacing: 0.1em;
    text-decoration: underline;
}

#text2{
    width: 70%;
    height: 15px;
    margin-left: 10px;
    color: #FFFFFF;
    border-top-width: 0px;
    padding-top: 0px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: cursive;
    letter-spacing: normal;
    letter-spacing: 0.1em;
    text-decoration: underline;
    border:none;
    background-color: #FEA501;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}

#text3{
    width: 50%;
    height: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    color: #FFFFFF;
    border-top-width: 0px;
    padding-top: 0px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: cursive;
    letter-spacing: normal;
    letter-spacing: 0.1em;
    text-decoration: underline;
    border:none;
    background-color: #0175DD;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}

#text4{
    width: 90%;
    height: 15px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #FFFFFF;
    border-top-width: 0px;
    padding-top: 0px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: cursive;
    letter-spacing: normal;
    letter-spacing: 0.1em;
    text-decoration: underline;
    border:none;
    background-color: #008003;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}

#text5{
    height: 20px;
    color: #FFFFFF;
    border-top-width: 0px;
    padding-top: 0px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    letter-spacing: 0.1em;
    text-decoration: underline;
}
#my-link{
    color: #3130AB;
}

#my-link1{
    color: #3130AB;
}

#right-block1{
    width: 60%;
    height: 100%;
    padding-left: 250px
    background: #FFFFFF;
    float:right;
}

#birthday{
    color: #1D4C8B;
    border-top-width: 0px;
    padding-left: 3px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
}

#birthday-data{
    color: #1D4C8B;
    border-top-width: 0px;
    padding-left: 3px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    margin: 0px 0px 0px;
}

#birthday-place{
    color: #1D4C8B;
    border-top-width: 0px;
    padding-left: 3px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    margin: 0px 0px 0px;
}

#birthday-country{
    color: #1D4C8B;
    border-top-width: 0px;
    padding-left: 3px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    margin: auto;
}

#line1{
    width: 60%;
    height: 2px;
    border:none;
    background-color: #6FA8E0;
    color: #6FA8E0;
    margin: 15px 3px 0px;
}

#skill{
    color: #1D4C8B;
    border-top-width: 0px;
    padding-left: 3px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    margin: 0px 0px 0px;
}

.skill-name ul{
    list-style: none;
    margin-left:10px;
}

.skill-name li:before{
    content: "—";
}

.skill1-name{
    color: #1D4C8B;
    border-top-width: 0px;
    padding-left: 3px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    margin: 0px 0px 0px;
}

#line2{
    width: 60%;
    height: 2px;
    border:none;
    background-color: #6FA8E0;
    color: #6FA8E0;
    margin: 0px 3px 0px;
}

#about-me{
    color: #1D4C8B;
    border-top-width: 0px;
    padding-left: 0px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    margin: 0px 0px 0px;
}

.about-me1 ul{
    list-style: none;
    margin-left:10px;
}

.about-me1 li:before{
    content: "—";
}


#about-me4{
    color: #1D4C8B;
    border-top-width: 0px;
    padding-left: 3px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    margin: 0px 0px 0px;
}

#about-me5{
    color: #1D4C8B;
    border-top-width: 0px;
    padding-left: 3px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    margin: 0px 0px 0px;
}

#about-me6{
    color: #1D4C8B;
    border-top-width: 0px;
    padding-left: 3px;
    font-weight: 720;
    font-style: oblique -100deg;
    font-variant: normal;
    font-family: sans-serif;
    letter-spacing: normal;
    margin: 0px 0px 0px;
}

#line3{
    width: 60%;
    height: 2px;
    border:none;
    background-color: #6FA8E0;
    color: #6FA8E0;
    margin: 0px 3px 0px;
}
